/* Custom CSS */
h4 {
  font-weight: bold;
  color: black;
  font-size: 20px;
}
h1 {
margin-left: auto;
    margin-right: auto;

    width: 4.5em;
    font-size: 70px;
    font-family:Courier;
font-weight: bold;
}	
	 

body {
    background-color: ;
}
#button1 {
  font-family: verdana;
  margin-right: auto;
    width: 4.5em;
    font-size: 13px;  
}

.red{ color:red;}

li { list-style-type: none; }

.foodName { 
  color: blue;
  font-weight: bold;
  font-family: garamond
}
.foodComment { color: black;
font-family:times 
}